{% extends "main/base.html" %}

{% block content %}

		{% for detail in details %}
		<ul class="list-group list-group-flush">


			<li class="list-group-item">Website: {{detail.website}}</li>
			<li class="list-group-item">login Info: {{detail.logindetail}}</li>
			<li class="list-group-item">Password: {{detail.password}}</li>
			
		</ul>
		{% endfor %}

	
		<a href="http://127.0.0.1:8000/create/">Add New Login Details</a>
		<p></p>
		<a href="http://127.0.0.1:8000">Back To Home</a>

{% endblock %}